# Virtual environment
venv/

# Dataset output (large files)
dataset/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs e capturas temporárias
*.avi
*.mp4
capture_*.png
dataset_yolo/*
runs/*
data/*
dataset_complete_all_modalities.zip
dataset_complete_all_modalities/*

dataset_exp30_frontcenter_yolo/
dataset_yolo/*
dataset_yolo_exp30_frontcenter/
dataset_exp30_frontcenter_yolo/
dataset_yolo_exp30_frontcenter/
dataset_exp30_multicam/

dataset_exp30_yolo_narrow_hd/
dataset_exp30_multicam_yolo/
dataset_exp30_yolo_medium/
dataset_exp30_yolo_lowcost640/
