# Virtual environment
venv/

# Dataset output (large files)
dataset/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs e capturas temporárias
*.avi
*.mp4
capture_*.png
dataset_yolo/*
runs/*
data/*
dataset_complete_all_modalities.zip
dataset_complete_all_modalities/*

